<mat-card>
    <div class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>
                <div>
                    {{isEdit ? 'Edit Category': 'Create Category'}}
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="card" *ngIf="categoryForm">
                <form [formGroup]="categoryForm" (submit)="createUser()">
                    <mat-grid-list cols="2" rowHeight="90px">
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="name">Name</mat-label>
                                    <input matInput placeholder="Enter your Name" formControlName="name">
                                    <mat-error *ngIf="formData['name'].hasError('required')">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="code">Code</mat-label>
                                    <input matInput placeholder="Enter your Name" formControlName="code">
                                    <mat-error *ngIf="formData['code'].hasError('required')">
                                        Code is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="price_start_from">Price Range (Starts From)</mat-label>
                                    <input matInput type="number" class="example-right-align" placeholder="0"
                                        formControlName="price_start_from">
                                    <span matTextPrefix>&#x20B9; &nbsp;</span>
                                    <span matTextSuffix>.00</span>
                                    <mat-error *ngIf="formData['price_start_from'].hasError('required')">
                                        Price range start from is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="price_end_to">Price Range (End To)</mat-label>
                                    <input matInput type="number" class="example-right-align" placeholder="0"
                                        formControlName="price_end_to">
                                    <span matTextPrefix>&#x20B9;&nbsp;</span>
                                    <span matTextSuffix>.00</span>
                                    <mat-error *ngIf="formData['price_end_to'].hasError('required')">
                                        Price range end to is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group-wrapper">
                                <div class="form-group">
                                    <mat-label class="profile-lable">Upload category image</mat-label>
                                    <app-file-upload (uploadedFiles)="getFiles($event)" />
                                </div>
                                <ng-container *ngIf="isEdit && this.categoryData?.imageUrl">
                                    <div class="user-image-wrapper">
                                        <mat-label class="profile-lable">Uploaded avatar</mat-label>
                                        <img [src]="this.categoryData.imageUrl" alt="" />
                                    </div>
                                </ng-container>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-label for="status">Status</mat-label>
                                <mat-radio-group aria-label="Select an option" formControlName="status">
                                    <mat-radio-button [value]="'active'" name="status">
                                        Active
                                    </mat-radio-button>
                                    <mat-radio-button [value]="'inactive'" name="status">
                                        Inactive
                                    </mat-radio-button>
                                </mat-radio-group>
                                <mat-error *ngIf="formData['status'].hasError('required')">
                                    Please select <strong>either</strong> value
                                </mat-error>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group form-footer">
                                <button type="submit" mat-raised-button color="primary">
                                    {{isEdit ? "Update ": "Create "}} Category
                                </button>
                                <button type="button" mat-raised-button color="warn"
                                    (click)="backToList()">Cancel</button>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </form>
            </div>
        </mat-card-content>
    </div>
</mat-card>