<mat-card>
    <div class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>
                <div>
                    {{isEdit ? 'Edit': 'Create'}} Product
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="card" *ngIf="productForm">
                <form [formGroup]="productForm" (submit)="createProduct()">
                    <mat-grid-list cols="2" rowHeight="90px">
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="name">Name</mat-label>
                                    <input matInput placeholder="Enter your Name" formControlName="name">
                                    <mat-error *ngIf="formData['name'].hasError('required')">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="code">Code</mat-label>
                                    <input matInput placeholder="Enter your Name" formControlName="code">
                                    <mat-error *ngIf="formData['code'].hasError('required')">
                                        Code is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="purchase_price">Purchase Price</mat-label>
                                    <input matInput type="number" class="example-right-align" placeholder="0"
                                        formControlName="purchase_price">
                                    <span matTextPrefix>&#x20B9; &nbsp;</span>
                                    <span matTextSuffix>.00</span>
                                    <mat-error *ngIf="formData['purchase_price'].hasError('required')">
                                        Purchase price is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="selling_price">Selling Price</mat-label>
                                    <input matInput type="number" class="example-right-align" placeholder="0"
                                        formControlName="selling_price">
                                    <span matTextPrefix>&#x20B9;&nbsp;</span>
                                    <span matTextSuffix>.00</span>
                                    <mat-error *ngIf="formData['selling_price'].hasError('required')">
                                        Selling price is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="categories">Categories</mat-label>
                                    <mat-select formControlName="category_id">
                                        <mat-option *ngFor=" let category of categories" [value]="category?.id">
                                            {{ category?.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="tags">Tags</mat-label>
                                    <input matInput placeholder="ex. electronics, laptop" formControlName="tags">
                                    <mat-error *ngIf="formData['tags'].hasError('required')">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="current_stock_qty">Current Stock Qty</mat-label>
                                    <input matInput type="number" placeholder="enter stock qty"
                                        formControlName="current_stock_qty">
                                    <mat-error *ngIf="formData['tags'].hasError('required')">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="low_stock_alert_qty">Minimum Stock (alert on low stock)</mat-label>
                                    <input matInput type="number" placeholder="enter minimum stock qty"
                                        formControlName="low_stock_alert_qty">
                                    <mat-error *ngIf="formData['low_stock_alert_qty'].hasError('required')">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2">
                            <div class="form-group text-area">
                                <mat-form-field appearance="outline">
                                    <mat-label for="description">Description</mat-label>
                                    <textarea matInput placeholder=" enter product description"
                                        formControlName="description"></textarea>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class=" form-group-wrapper">
                                <div class="form-group">
                                    <mat-label class="profile-lable">Upload category image</mat-label>
                                    <app-file-upload (uploadedFiles)="getFiles($event)" />
                                </div>
                                <ng-container *ngIf="isEdit && imageUrl">
                                    <div class="user-image-wrapper">
                                        <mat-label class="profile-lable">Uploaded avatar</mat-label>
                                        <img [src]="imageUrl" alt="" />
                                    </div>
                                </ng-container>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group">
                                <mat-label for="status">Status</mat-label>
                                <mat-radio-group aria-label="Select an option" formControlName="status">
                                    <mat-radio-button [value]="'active'" name="status">
                                        Active
                                    </mat-radio-button>
                                    <mat-radio-button [value]="'inactive'" name="status">
                                        Inactive
                                    </mat-radio-button>
                                    <mat-radio-button [value]="'out_of_stock'" name="status">
                                        Out of Stock
                                    </mat-radio-button>
                                </mat-radio-group>
                                <mat-error *ngIf="formData['status'].hasError('required')">
                                    Please select <strong>either</strong> value
                                </mat-error>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="form-group form-footer">
                                <button type="submit" mat-raised-button color="primary">
                                    {{isEdit ? "Update ": "Create "}} Product
                                </button>
                                <button type="button" mat-raised-button color="warn"
                                    (click)="backToList()">Cancel</button>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </form>
            </div>
        </mat-card-content>
    </div>
</mat-card>