.input_fileUpload--hidden {
    display: none;
}

.files-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        width: 30%;
    }

    .files {
        width: 60%;
    }
}