<mat-card>
    <div class="mat-elevation-z8">
        <mat-card-content>
            <mat-grid-list cols="4" rowHeight="2:1">
                <mat-grid-tile>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>
                                    <span class="title">Users</span>
                                </mat-card-title>
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <span class="hind-font caption-12 c-dashboardInfo__count">
                                {{ dashboardData.usersCount }}
                            </span>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>
                                    <span class="title">Categories</span>
                                </mat-card-title>
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <span class="hind-font caption-12 c-dashboardInfo__count">
                                {{ dashboardData.categoriesCount }}
                            </span>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>
                                    <span class="title">Products</span>
                                </mat-card-title>
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <span class="hind-font caption-12 c-dashboardInfo__count">
                                {{ dashboardData.productsCount }}
                            </span>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>
                                    <span class="title">Shops</span>
                                </mat-card-title>
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <span class="hind-font caption-12 c-dashboardInfo__count">
                                {{ dashboardData.shopsCount }}
                            </span>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-card-content>
    </div>
</mat-card>